@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shippori+Antique&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.App {
  font-size: 1.6rem;
  left: 20%;
  right: 20%;
  top: 30%;
  position: absolute;
  text-align: center;
}

.MenuTitle {
  font-weight: bolder;
}

div.questionContainer {
  top: 10%;
  left: 15%;
  right: 15%;
  height: 80%; 
  position: absolute;
  text-align: left;
  padding: 20px;
}

div.infoButton {
  top: 13%;
  right: 2%;
  position: absolute;
}

.button-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.back-button-container {
  position: fixed;
  bottom: 5%;
  left: 5%;
}

.button:hover {
  cursor: pointer;
}

.textArea {
  position: relative;
  bottom: 3%;
  left: 3%;
  right: 3%;
  width: 90%;
}

.FormControl {
  position: relative;
  left: 3%;
  padding-bottom: 5%;
}

.button {
  height: 70px;
  width: 140px;
  font-size: 3rem;
}

.uploadButton {
  left: 45%;
  right: 35%;
}

.login-logo {
  height: 100px;
}

.optionStyling {
  color: black;
}

.questionTitles {
  position: relative;
  left: 5%;
}

div.top {
  top: 10%;
  left: 15%;
  right: 15%;
  position: absolute;
  text-align: center;
}

.questionPrompt {
  font-size: 1.8em;
}

.error {
  color: red;
}

.success {
  color: green;
}

body {
  background-color: #f3f3f3;
}

.ScrollingDiv {
  overflow-y: scroll;
  height:400px;
  top: 20%;
  left: 13%;
  right: 13%;
  height: 75%;
  position: absolute;
  background-color: white;
  border-width: 2px;
  border-color: black;
  padding-bottom: 10px;
  border-radius: 10px;
}

.ScrollingDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ScrollingDiv::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.ScrollingDiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #60a44c;
}

.qContainer {
  top: 10%;
  left: 15%;
  right: 15%;
  height: 80%;
  position: absolute;
  text-align: left;
  padding: 20px;
}

.submit-button-container {
  position: fixed;
  bottom: 5%;
  right: 3%;
}

.bottomPadding {
  height: 120px;
  display: inline-flex; 
  width: 100%;
  text-align: right;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: black; 
}

.toggleCompleteness {
  position: absolute;
  left: 5%;
  top: 10%;
}